h1{
    color: red;
    bottom: 40px;
    text-align: center;
}
body {
    background-color: aquamarine;
}

p{
    text-align: center;
    color: blue;
}

footer{
    color:aliceblue;
background-color: black;
text-align: center ;
}